$white: #ffffff;
$offset: #fdfbf9;
$darkPurple: #4b2aad;
$lightPurple: #9484c6;
$dark: #201445;
$lightRed: #f5efeb;
$background: rgba($lightRed, $alpha: 0.3);

$transition: all 0.3s ease;

$section-padding: 5rem;
$section-padding-mobile: 2.75rem;
$link-gap: 1.15rem;
